/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*-------General Styles------*/

html{
  font-size: 16px;
}

body{
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  background-color: #202322
}

main{
  width: 100%;
}

ul ol{

}

a{
  color: #e2e3ed;
  text-decoration:none;
}

h1, h2{
  font-family: 'Poppins', sans-serif;
}

h3, h4{
  font-family: 'Poppins', sans-serif;
}

p{

}

img{

}

figure{

}

address{

}

.content-wrapper{
  background-color: #527158;
}


/*---------- BASE HEADER - FOOTER STYLES -------------*/

header footer {
display: flex;
justify-content: center;
align-content: center;
flex-flow: row wrap;
}

/*header styles*/

header{
  padding: 20px 0;
  margin: 0;
  width: auto;
}

.content-wrapper{
  padding: 2%;
  width: auto;
}

.retreat-headliner{
  padding: 20px 0;
}

header .content-wrapper .header-divider{
display: flex;
flex-flow: column wrap;
display: flex;
align-items: center;
justify-content: center;
}

header nav {
display: flex;
align-content: center;
justify-content: center;
flex-flow: row wrap;
}

header .header-divider{
  width: 100%;
}

header nav ul{
  display: flex;
  align-content: center;
  justify-content: center;
}



/*mobile-styles homepage*/

h1 h2 h3{

}

.icon-p{
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  margin: 0;
}

section{
display: flex;
justify-content: center;
align-items: center;
width: auto;
}

.hero-area{
display: flex;
justify-content: center;
align-items: center;
margin: 0;
padding: 0;
width: 100%;
}

.retreat-headliner{

}

aside {
display: flex;
justify-content: center;
align-items: center;
flex-flow: column wrap;
width: auto;
padding: 20px 0;
}

.form .form-description{
display: flex;
justify-content: center;
align-items: center;
flex-flow: column wrap;
}

.cta-headliner {

}

.features{
  width:auto;
  margin: 0;
}

.features .features-content{
display: flex;
justify-content: center;
align-items: center;
}

.container {
  display: flex;
justify-content: center;
align-items: center;
flex-flow: row wrap;
margin: 0;
}

.reasons-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.reviews {
display: flex;
align-items: center;
justify-content: center;
flex-flow: column wrap;
padding: 20px 0;
}

.reviews h3{
  width: 85%;
}

.review-header{

}

.review{
display: flex;
justify-content: center;
align-items: center;
flex-flow: column wrap;
padding: 20px 0;
}

.review-content-header .review-content{
display: flex;
justify-content: flex-start;
align-items: center;
}


.faq{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

.faq-content{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

footer .footer-content{
display: flex;
justify-content: center;
align-items: center;
}

footer {
  padding: 20px 0;
  margin: 0;
  width: auto;
}

.contact{
display: flex;
justify-content: center;
align-items: center;
padding: 20px 0;
}

.about-info .contact-container{
  width: 96%;
  margin: 0;
}

.social .social-icons{
display: flex;
justify-content: center;
align-items: center;
}

.copyright{

}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px){
    /*tablet styles here */

header{
display: flex;
flex-flow: row nowrap;
width: auto;
}

header nav {
  flex-flow: row nowrap;
}


nav ul {
  display: flex;
  align-items: flex-end;
}

.logo nav ul{
  margin-left: 8%;
  margin-right: 8%;
}

header footer{
  justify-content: center;
}

.content-wrapper {
  min-width: 760px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 96%;
}


.hero-area .form{
  margin: 0;
  padding: 0;
  width: 100%;
}

.header-divider {
  display: none;
}

aside .content-wrapper {

}

.form-container{
  width: 96%;
  display: flex;
  flex-flow: row nowrap;
}

.form-description {
  width: 38%;
  margin-left: 8%;
  margin-right: 8%;
}

.form{
  display: flex;
  flex-flow: column wrap;
  margin-left: 8%;
  margin-right: 8%;
  width: 33%;
}

.icon-p {
  display: flex;
  flex-flow: column wrap;
}

.features .features-content{
  display: flex;
  flex-flow: column wrap;
}

.features-content{
  margin-left: 8%;
  margin-right: 8%;
}

.container{
width: 65%;
display: flex;
flex-flow: row wrap;
}

.fontawesome-icon{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 36%;
}

.review{
  margin-left: 8%;
  margin-right: 8%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.review-content{
  display: flex;
}

.first-article{
width: 42%;
}

.bottling-img{
  width: 42%;
  margin-left: 8%;
}

.contact {
  display: flex;
  justify-content: flex-start;
}

.social{
  display: flex;
  justify-content: flex-end;
}

/*ABOUT PAGE*/

.mission-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  margin-left: 8%;
  margin-right: 8%;
}

.mission-statement {
  display:flex;
  width: 40%;
}

.contact-container{
  display: flex;
  flex-flow: column wrap;
}

.about-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  margin-right: 8%;
  margin-left: 8%;
}

.info{
  display: flex;
  flex-flow: row wrap;
  width: 40%;
}

/*FAQ PAGE*/


.faq .content-wrapper {
  justify-content: space-between;
}

.faq-content {
  width: 37%;
  flex-flow: row wrap;
}

.question{
  flex-flow: row nowrap;
}

.question-answer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  margin-right: 8%;
  margin-left: 8%;

}

.faq-p{
  flex-flow: column wrap;
  width: auto;
}

}


@media only screen and (min-width: 1200px){
  /*desktop styles here */

.content-wrapper {
  min-width: 1200px;
}

.form-container{
  margin-right: 16.5%;
  margin-left: 16.5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form{
  width: 27%;
}

.form-description{
  width: 27%;
}

.container{
  width: 72%;
}

.fontawesome-icon{
  width: 26%;
}

.review-content{
  margin-right: 10%;
  margin-left: 10%;
}

.mission-content{
  margin-right: 16.5%;
  margin-left: 16.5%;
}

.mission-statement{
  width: 36%;
}

.info{
  width: 26%;
}

.faq-content {
  display: flex;
  min-width: 36%;
}

.faq-p{
  display: flex;
}

}


@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
